[submodule "app/acc_sensor_rr"]
	path = app/acc_sensor_rr
	url = https://github.com/ARTrate/acc_sensor_rr-python.git
[submodule "test/acc_sensor_rr"]
	path = test/acc_sensor_rr
	url = https://github.com/ARTrate/acc_sensor_rr-python.git
